<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Recipe App</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4"> Recipe App </h1>
        <a href="/recipes/new" class="btn btn-success">
            New Recipe
        </a>
        <% recipes.forEach(recipe=>{ %>
            <div class = "card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= recipe.title%>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= recipe.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= recipe.ingre %>
                    </div>
                    <a href="recipes/<%= recipe.slug %>" class="btn btn-primary">
                        Read more 
                    </a>
                    <!-- we do not use anchor tag since one deployment, google will delete it -->
                    <form action="/recipes/<%= recipe.id%>?_method=DELETE" method = "POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
    <!-- <h1><%= recipes %></h1> -->
</body>
</html>