<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Recipe App</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-1">
            <%= recipe.title %>
        </h1>
        <div class="text-muted mb-2">
            <%= recipe.createdAt.toLocaleDateString()%>
        </div>
        <a href="/" class="btn btn-secondary">
            All recipes
        </a>
        <a href="/recipes/edit/<%= recipe.id %>" class="btn btn-info">
            Edit recipes
        </a>
        <div>
            <%= recipe.ingredients %>
        </div>
        <div>
            <%= recipe.recipea %>
        </div>
        
        <div>
            
        </div>
    </div>

</body>
</html>